html, body {
  margin: 0;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.clip-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clip-list-drop-box {
  flex-grow: 1;
  border: dashed .5rem gray;
}

.clip-list-drop-box.hover {
  border: dashed .5rem blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
